<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.ams.dao.ChoiceQuestionMapper" >

  <resultMap id="BaseResultMap" type="com.qfedu.ams.entity.ChoiceQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="question" property="question" jdbcType="LONGVARCHAR" />
    <result column="choiceA" property="choicea" jdbcType="LONGVARCHAR" />
    <result column="choiceB" property="choiceb" jdbcType="LONGVARCHAR" />
    <result column="choiceC" property="choicec" jdbcType="LONGVARCHAR" />
    <result column="choiceD" property="choiced" jdbcType="LONGVARCHAR" />
    <result column="rightAnswer" property="rightanswer" jdbcType="VARCHAR" />
    <result column="subjectId" property="subjectid" jdbcType="INTEGER" />
  </resultMap>

  <select id="findAll" resultMap="BaseResultMap" parameterType="com.qfedu.ams.entity.ChoiceQuestion">
    select * from choice_question
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="int" >
    select * from choice_question where id = #{id}
  </select>

  <update id="deleteByPrimaryKey" parameterType="int" >
    update from choice_question
    set status = 0
    where id = #{id}
  </update>


</mapper>