<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.ams.dao.ExamSubjectMapper" >

  <resultMap id="BaseResultMap" type="com.qfedu.ams.entity.ExamSubject" >
    <id column="subjectId" property="subjectid" jdbcType="INTEGER" />
    <result column="subjectName" property="subjectname" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    subjectId, subjectName
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from exam_subject
    where subjectId = #{subjectid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from exam_subject
    where subjectId = #{subjectid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.qfedu.ams.entity.ExamSubject" >
    insert into exam_subject (subjectId, subjectName)
    values (#{subjectid,jdbcType=INTEGER}, #{subjectname,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.qfedu.ams.entity.ExamSubject" >
    update exam_subject
    set subjectName = #{subjectname,jdbcType=VARCHAR}
    where subjectId = #{subjectid,jdbcType=INTEGER}
  </update>

</mapper>