<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.ams.dao.JudgeQuestionMapper">

    <resultMap id="JQResultMap" type="com.qfedu.ams.entity.JudgeQuestion">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="question" property="question" jdbcType="INTEGER"/>
        <result column="choiceA" property="choicea" jdbcType="INTEGER"/>
        <result column="choiceB" property="choiceb" jdbcType="INTEGER"/>
        <result column="judgeAnswer" property="judgeanswer" jdbcType="INTEGER"/>
        <result column="subjectId" property="subjectid" jdbcType="INTEGER"/>
        <collection property="ESlist" javaType="list" ofType="com.qfedu.ams.entity.ExamSubject"
                    resultMap="com.qfedu.ams.dao.ExamSubjectMapper.BaseResultMap"
        ></collection>
    </resultMap>

    <select id="findAll" resultMap="JQResultMap">
    select id, score, question, judgeAnswer, a.subjectName
    from ams.judge_question c
    inner join ams.exam_subject a
    where status = 1 and a.subjectId = c.subjectId
  </select>

    <select id="selectByPrimaryKey" resultMap="JQResultMap" parameterType="int">
    select * from ams.judge_question jq
    inner join exam_subject es
    on jq.subjectId = es.subjectId
    where jq.id = #{id}
    and status = 1
  </select>

    <insert id="insert" parameterType="com.qfedu.ams.entity.JudgeQuestion">
    insert into ams.judge_question (score, question, judgeAnswer, subjectId) values (#{score},#{question},#{judgeanswer},#{subjectid})
  </insert>

    <update id="falseDelete" parameterType="int">
    update ams.judge_question
    set status = 0
    where id = #{id}
    </update>

    <update id="falseDeletes" parameterType="list">
        update ams.judge_question
        set status = 0
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="findByIndexAndSize" parameterType="map" resultType="com.qfedu.ams.entity.ExamSubject">
        select * from ams.judge_question limit #{index},#{size}
    </select>

    <update id="update" parameterType="com.qfedu.ams.entity.JudgeQuestion">
        update ams.judge_question set score = #{score}, question = #{question}, judgeAnswer = #{judgeanswer}, subjectId = #{subjectid} where id = #{id}
    </update>

</mapper>