<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.ams.dao.PermisionMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.ams.entity.Permision" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="permision_name" property="permisionName" jdbcType="VARCHAR" />
    <result column="resource_type" property="resourceType" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="permisionMap" type="permision">
    <id column="pid" property="pid"></id>
    <result column="resource_name" property="resourceName"></result>
    <result column="parent_id" property="parentId"></result>
    <result column="cpid" property="pid"></result>
    <result column="sonName" property="resourceName"></result>
    <result column="sonParent" property="parentId"></result>
  </resultMap>

  <select id="findAll" resultMap="BaseResultMap">
    select * from a_permision
  </select>

 <select id="findPermisionByRoles" parameterType="int" resultMap="permisionMap">
    SELECT p.pid,p.resource_name,p.parent_id,c.pid cpid,c.parent_id sonParent,c.resource_name sonName from a_permision p inner join a_permision c on p.pid = c.parent_id inner join a_role_permision rp on c.pid=rp.pid where rp.rid = #{id};
  </select>

  <delete id="deleteRoPermisionBy" parameterType="map">
    delete from a_role_permision where pid = #{pid} and rid = #{rid}
  </delete>

  <insert id="addRoPermision" parameterType="map">
    insert into a_role_permision(rid, pid) values (#{rid}, #{pid})
  </insert>

  <delete id="deleteRoPermisionByRid" parameterType="int">
    delete from a_role_permision where rid = #{rid}
  </delete>

  <insert id="updateRopermisionByIds" parameterType="map">
    insert into a_role_permision(rid, pid) values
    <foreach collection="list" item="list" separator=",">
      (#{list.rid},#{list.pid})
    </foreach>
  </insert>
</mapper>